* {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

nav {
  font-size: 24px;
  background-color: #d9dcd6;
  height: 24;
}

section h1 {
  font-size: 50px;
  text-align: center;
}

section p {
  font-size: 25px;
  float: right margin 150px;
  float: left;
}

.card-img-top {
  width: 600px;
  font-size: 25px;
  padding: 25px;
  float: right;
}

.img-fluid {
  max-width: 100%;
  height: 400px;
  width: 400px;
  margin: 100px;
}
#AboutMe {
  font-size: 50px;
}

.navbar-brand {
  font-size: 35px;
  background-color: #d9dcd6;
  padding: 30px;
  
}

header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

.card {
  margin-top: 50px;
  margin-left: 600px;
}

footer {
  margin-top: 50px;
  padding: 20px;
  background-color: cornflowerblue;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  text-emphasis: bold;
  font-size: 30px;
  clear: both;
}

@media screen and (max-width: 768px) {
  body {
    background-color: black;
  }

  .wrapper {
    width: 600 px;
  }
}
